.header{
    background-color: var(--main-blue);
    width: 100%;
    padding: 0.5em;
    display: flex;
    gap: 8px;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    position: fixed;
    align-items: center;
}

.donate-header-button{
    margin-left: auto;
}

.donate-header-button img{
    width: 20px;
    height: 20px;
}

.nav-btn{
    padding: 8px 12px;
}