.header{
    background-color: var(--main-blue);
    width: 100%;
    padding: 0.5em;
    display: flex;
    gap: 8px;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    position: fixed;
}

.donate-header-button{
    margin-left: auto;
}

.donate-header-button img{
    width: 24px;
    height: 24px;
}