:root{
  --main-blue: rgb(16,62,99);
  --button-blue: rgb(41,171,224);
  --main-black: rgb(41,41,41);
  --correct-color: rgb(4,129,3);
  --incorrect-color: rgb(190,0,2);
  --max-width-game-container: 800px;
}

*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background: url("/public/img/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
  color: white;
  font-size: 16px;
}

.main-button{
  background-color: var(--button-blue);
  color: white;
  outline: none;
  cursor: pointer;
  padding: 0.4em 0.5em;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-button:hover{
  background-color: white;
  color: var(--button-blue);
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}