:root{
  --main-blue: rgb(16,62,99);
  --button-blue: rgb(41,171,224);
  --main-black: rgb(41,41,41);
  --correct-color: rgb(4,129,3);
  --incorrect-color: rgb(190,0,2);
  --max-width-game-container: 800px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: 'Mikodacs'; /*a name to be used later*/
  src: url('/public/Fonts/mikodacs/mikodacs.regular.ttf'); /*URL to font*/
}

body{
  background: url("/public/img/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  color: white;
  font-size: 16px;
  font-family: 'Mikodacs';
}


.main-button{
  background-color: var(--button-blue);
  color: white;
  outline: none;
  cursor: pointer;
  padding: 0.4em 0.5em;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-button:hover{
  background-color: white;
  color: var(--button-blue);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}